<#@ template language="C#" #>
using FluentMigrator;

namespace <#=Namespace#>;

[Tags("Production")]
[Migration(<#=UnixTimeStamp#>)]
public class <#=MigrationName#> : Migration
{
    public override void Up()
    {
    }

    public override void Down()
    {
    }
}
